body {
        
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 0px auto;
    gap: 10px;
    padding: 2px;
    border: 1px solid #e0e4e8;
        

  }


.card {
  background-color: #ffffff; 
  width: 300px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

.btn-supprimer{
    
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.btn-supprimer:hover{
    background-color: #ff0019;
}



header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f0f3f5;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(6, 145, 239);
    height: 30px;
}
footer{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -items: center;
    background-color: #34495e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

#btn-trier{
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
}


.btn-resver{
    background-color: #27ae60;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-resver:hover{
    background-color: #011308;
}


#recherche{
    background-color: #c0daf0;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

