h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
    margin: auto;

}
div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
label{
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}
button{
    background-color: #000000;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    width: 50%;
}
button:hover{
    background-color: #41dfeb;
}
select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 30%;
    font-size: 16px;

}

