body {
        
    font-family: Arial, sans-serif;
    background-color: #41dfeb;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-top: 50px;
    gap: 10px;
    padding: 2px;
    border: 1px solid #000000;
  }


.card {
  background-color: azure; 
  width: 300px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  
}

.btn-supprimer{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}



.btn-supprimer:hover{
    background-color: #020202;
}


